<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Add Item</title>
</head>
<body class = 'grey centered'>
    

        <h1 id='addingTo'>Adding to: company, warehouse</h1>
        
    <a href='/'>Cancel</a>
    <form onsubmit="return confirm('Are you sure this information is correct?')" class='centered form' method='POST' action='/warehouse'>
        <div>
            <!-- Warehouse: <input  id="warehousename" type="text" name="warehousename" autocomplete="off"/> -->
             <!-- THIS NEEDS TO AUTO-FILL LATER -->
            Warehouse: <select name="warehousename" id="warehousename">
                <option value="w1 - Chicago, IL">w1 - Chicago, IL</option>
                <option value="w2 - Peoria, IL">w2 - Peoria, IL</option>
                <option value="w3 - Dallas, TX">w3 - Dallas, TX</option>
                <option value="w4 - Tampa, FL">w4 - Tampa, FL</option>
                <option value="w5 - Jacksonville, FL">w5 - Jacksonville, FL</option>
                <option value="w6 - New York, NY">w6 - New York, NY</option>
              </select>
        </div>
        <br>
        <div>
            <label for="name">Item Name:</label>
            <input oninput="this.value = this.value.toLowerCase()" id="name" type="text" name="name" autocomplete="off"/>
        </div>
        <br>
        <div>
            Quantity: <input type="number" name="quantity" autocomplete="off"/>
        </div>
        <br>
        <div>
            Pallets: <input type="number" name="pallets" autocomplete="off"/>
        </div>
        <br>
        <input id="submit"type="submit" value="Submit"/>
    </form>
</body>
</html>