<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='../scripts/warehouseScripts.js'></script>
    <script>
      function getParam(p){
        const qs = new URLSearchParams(window.location.search);
        return qs.get('company');
      }

      
    </script>
    <title>Warehouses</title>
</head>
<body class='centered colored grey'></body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" style='margin-top: 0vh;'>
      <a class="navbar-brand logo" style="margin-left: 5vh" href="/"><b>Corporation inc.</b> </a></nav>

    <H1 id='company-name' class='arial' style='margin-top: 5vh;'>. . .</H1>

    <br>
    <div class='container'>
      <div class='row g-3'>
          <div class='col-5 centered'><a href='/'><button type="button" class='btn btn-light shadowed'>Home</button></a></div>
          <div id='addItemButton' class='col-5 centered'></div>
          <!--<a href='/add'><button type="button" class='btn btn-danger'>Add inventory</button></a>-->
      </div>
  </div>
    <br>
    <div class="container">
      <div class="row white">

      <ul id='warehouse-tabs' class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button onclick="filterTable('')" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="color: black">All Warehouses</button>
          </li>
        </ul>

        <div>.</div>
        <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">All Warehouses</div>
        </div>
        <div>.</div>

       <!--<input id='search' class='form-control' type='text'></input>--> 
        
        <div id='table-container'>
        <div id='database-table'>
        <table style='table-layout: fixed;' class=" table table-striped">
          <thead>
            <tr>
              <th scope="col">Warehouse</th>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Pallets</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id='inventory'>
    
          </tbody>
        </table>

      </div><!--database-table-->
      </div>

      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>